body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.tabbar{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.tabbarIcon{
  color: #424040;
  line-height: 20px;
  font-size: 30px;
  margin-bottom: -5px;
}

.icon{
  color: #ccc;
}

.selectedTabbarIcon{
  color: #0e80d2;
  line-height: 20px;
  font-size: 30px;
  margin-bottom: -5px;
}

.preBtn{ 
  width: 30%;
  float: left;
   height: 2.5rem; 
   line-height: 2.5rem; 
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc; 
   border-bottom: 1px solid #ccc  ;
   background: #eee;
   box-sizing: border-box;
}

.dateBtn{
  width: 40%;
  float: left;
   height: 2.5rem; 
   line-height: 2.5rem; 
   border-right: 1px solid #ccc;
   border-top: 1px solid #ccc; 
   border-bottom: 1px solid #ccc  ;
   background: #eee;
   box-sizing: border-box;
}

.nextBtn{
  width: 30%;
  float: left;
   height: 2.5rem; 
   line-height: 2.5rem; 
   border-top: 1px solid #ccc; 
   border-bottom: 1px solid #ccc  ;
   background: #eee;
   box-sizing: border-box;
}

.listLeft{
  float: left; 
  width: 60%; 
  text-align: left;
  padding:2px 0px 2px 10px;
  box-sizing: border-box;
  line-height: 1.2rem;
}

.listRight{
  float: right; 
  width: 40%; 
  text-align: right;
  padding:2px 10px 2px 0px;
  box-sizing: border-box;
  color:#777;
  line-height:  1.2rem;
}

.pj{
  color: rgb(206, 100, 6);
}

.zw{
  color: rgb(91, 162, 50);
}

.name{
  width:20%;
  float: left;
  text-align: left;
  box-sizing: border-box;
}

.sfz{
  width:65%;
  float: left;
  text-align: left;
  box-sizing: border-box;
}

.delete{
  width:15%;
  float: right;
  text-align: center;
  
  box-sizing: border-box;
  font-size: 2rem;
}

.ccr{
  line-height: 1.2rem;
  border-top: 1px solid #ddd;
  overflow: hidden;
  padding:0.5rem 1rem 0.5rem 1rem;
}

.ccrxx{
  width:50%;
  float: left;
  text-align: left;
  line-height: 1.2rem;
  font-size: 1.1rem;
}

.zjccr{
  width:50%;
  float: left;
  text-align: right;
  line-height: 1.2rem;
  font-size: 1rem;
}

.zjccri{
  font-size: 1.2rem;
}